body { 
	width: 960px;
	background: #777;
	margin: auto;

}

header {
	color: #777;
	background-color: #ebebeb;
	font-family: "arial";
	height: 32px;
	width: 80%;
	margin-top: 10px;
	margin-left: 80px;
	text-align: center;
	padding-top: 22px;
	padding-bottom: 22px;
	
	}

nav {
	color: #777;
	background-color: #ebebeb;
	font-family: "arial";
	height: 32px;
	width: 80%;
	margin-top: 11px;
	margin-left: 80px;
	text-align: center;
	padding-top: 22px;
	padding-bottom: 22px;

}

section {
	float: left;
	margin: 10px;
	width: 495px;
	margin-left:80px;

}

section#section {
	color: #777;
	background-color: #ebebeb;
	font-family: "arial";
	padding-top: 30px;
	height: 225px;
	text-align: center;
}

aside {
	padding-top: 20px;
	text-align: center;
	font-family: "arial";
	float: left;
	color: #777;
	background-color: #ebebeb;
	width: 30%;
	height: 235px;
	width: 27.5%;
	margin-top: 10px;
	margin-right: 10px;
	
}

article {
	color: #ebebeb;
	background-color: #777;
	font-family: "arial";
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	height: 160px;
	padding-top: 20px;


}

h1{
	color: #777;
	background-color: #ebebeb;
	margin-top: 15px;
	margin-left: 17px;
	font-family: "arial";
	width: 90%;
	height: 30px;
	padding-top: 15px;


}

p {
	color: #777;
	background-color: #ebebeb;
	margin-top: 15px;
	margin-left: 17px;
	font-family: "arial";
	width: 90%;
	height: 30px;
	padding-top: 15px;


}

.clear {
	clear:both;
}

footer {
	color: #777;
	background-color: #ebebeb;
	font-family: "arial";
	height: 32px;
	width: 80%;
	margin-top: 275px;
	margin-left: 80px;
	text-align: center;
	padding-top: 22px;
	padding-bottom: 22px;
}



